body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #eecb96;

}


main {
    color: brown;
}

footer {
    color: blueviolet;
}

#topic {
    color: #5c1f25;
}

#headerp {
    color: blue;
}

.secondparagraph {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: peachpuff;

}

#firstparagraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: small;
}
